.top-banner {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px 24px;
  /*background-color: #2f4f4f;*/
}

.top-banner a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.top-banner a:hover {
  text-decoration: underline;
}